.box-shadow {
    box-shadow: 3px 3px 10px rgba(102, 102, 102, 0.5);
}
.custom-nav-bg {
    background: url(~assets/img/paper-texture.jpg);
    background-size: cover;
    box-shadow: 3px 3px 6px rgba(128, 128, 128, 0.5);
}